body {
	background-color: #bc0c15;
}

h2 {
	text-align: center;
	color: white;
}

h5 {
	text-align: center;
	color: #f0970c;
}

.navbar-brand {
	width: 50px;
	height: 60px;
}
.nav-item {
	font-size: 15pt
	padding
}