h2 {
	text-align: center;
}

h5 {
	text-align: center;
}

.navbar-brand {
	width: 50px;
	height: 60px;
}
.nav-item {
	font-size: 15pt
	padding
}

.list-group {
	margin-left: 150px;
}

.row {
	float: left;
}

.badge {
	margin-left: 10px;
	font-size: 10pt;
}

#fotos{
	max-height: 600px;
	max-width: 600px;
	margin: auto;
	margin-top: 575px;
}

#foto1 {
	max-width: 600px;
	max-height: 337px;
}

#foto2 {
	max-width: 600px;
	max-height: 337px;
}

#foto3 {
	max-width: 600px;
	max-height: 337px;
}

#foto4 {
	max-width: 600px;
	max-height: 337px;
}

#foto5 {
	max-width: 600px;
	max-height: 337px;
}

#foto6 {
	max-width: 600px;
	max-height: 337px;
}

#foto7 {
	max-width: 600px;
	max-height: 337px;
}